{{!< default}}

<header class="blog-header" {{#if author.cover}}style="background-image: url({{author.cover}})"{{/if}}>
    <div class="vertical">
        <h1>Posts by {{author.name}}</h1>
    </div>
</header>

<div class="wrap">
    <section class="blog-content">

        {{#foreach posts}}

        <article class="{{post_class}}">
            <header class="post-header">
                <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
                <section class="post-meta">
                    <img class="author-img" src="{{author.image}}" alt="Author image" nopin="nopin" />
                    <span class="author-name">{{author}}</span>
                    &bull;
                    <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="D MMM YYYY"}}</time>
                    <span class="tags">{{tags prefix="• " separator=" "}}</span>
                </section>
            </header>
            <section class="post-excerpt">
                <p>{{excerpt words="55"}}&hellip;</p>
            </section>
            <footer class="more-links">
                <a class="read-more button-save" href="{{url}}">Read More</a>
                <div class="right">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{url absolute="true"}}" data-text="{{title}}" data-via="TryGhost" data-related="TryGhost">Tweet</a>
                    <div class="fb-like" data-href="{{url absolute="true"}}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                </div>
            </footer>
        </article>

        {{/foreach}}

        {{pagination}}

    </section>

    {{> sidebar}}

</div>
