<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="assets/images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/images/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="assets/images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/images/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="assets/images/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="assets/images/manifest.json">
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/images/mstile-144x144.png">
    <meta name="msapplication-config" content="assets/images/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:700,400,200" />
    <link rel="stylesheet" type="text/css" href="https://ghost.org/assets/application-53c891abfa2c2305e65de0c84c76e9e1.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/itch.css"}}" />

    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <div id="fb-root"></div>
    <aside class="subscribe-banner">
        Want to keep up to date weekly with more great posts? &nbsp;<a class="button" data-toggle="modal" data-target="#blogsubscribe">Subscribe</a>
    </aside>
    <header id="global-header" class="global-header navbar">
       <nav role="navigation">
           <div class="wrapper">
               <a class="ghost-logo" href="https://ghost.org/"><span>Ghost</span></a>
               <button type="button" class="mobile-menu" data-toggle="closed" data-target=".nav-collapse">
               <span class="hidden">Menu</span>
               </button>
               <ul id="main-menu" class="nav-collapse closed">
                   <li><a href="//ghost.org/features/">Features</a></li>
                   <li><a href="//ghost.org/about/">About</a></li>
                   <li><a href="//marketplace.ghost.org">Marketplace</a></li>
                   <li><a href="//ghost.org/forum/">Forum</a></li>
                   <li class="current extra"><a href="//blog.ghost.org">Blog</a></li>
                   <li><a class="signup" href="//ghost.org/signup/">Sign Up</a></li>
                   <li><a class="login" href="//ghost.org/login/">Log in</a></li>
               </ul>
           </div>
        </nav>
    </header>

    <main role="main">
        <div class="page-wrapper">
            {{{body}}}
            <div class="clearfix"></div>
        </div>
    </main>

    <div class="modal fade" id="blogsubscribe" tabindex="-1" role="dialog" aria-labelledby="Email subscription modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <header class="modal-header">
                    <h4 class="modal-title">The latest content, once per week.</h4>
                    <a class="modal-close" data-dismiss="modal" aria-hidden="true" href="#"><span class="hidden">Close</span></a>
                </header>
                <div class="modal-body">
                    <form action="{{! populated via code injection}}" method="post">
                        <input id="fieldEmail" name="{{! populated via code injection}}" type="email" placeholder="Your email address" required />
                        <button class="button-add wide" type="submit">Send me the good stuff</button>
                        <p><strong>Privacy policy:</strong> No spam. No jibber jabber. Unsubscribe any time.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <footer id="global-footer">
        <nav id="footer-nav" role="navigation">
            <ul id="footer-menu">
                <li class="logo"><a href="/"><img alt="Ghost" src="https://ghost.org/assets/logo-minighost-0f5476cf6a52adff2f2a67e4f16d3e29.png"></a></li>
                <li><a class="" href="//ghost.org/about/">About</a></li>
                <li><a href="http://status.ghost.org">Status</a></li>
                <li><a class="" href="//ghost.org/pricing/">Pricing</a></li>
                <li><a href="http://blog.ghost.org">Blog</a></li>
                <li><a class="" href="//ghost.org/about/terms/">Terms</a></li>
                <li><a class="" href="//ghost.org/about/privacy/">Privacy</a></li>
                <li><a class="" href="//ghost.org/about/contact/">Contact</a></li>
            </ul>
            <div class="clearfix"></div>

            <span class="poweredby"><img alt="Ghost" src="https://ghost.org/assets/logo-minidigitalocean-1bb39c0755ac79befc56ca39d7889eb5.png"> Powered <em>by</em> <a href="https://digitalocean.com" target="_blank">DigitalOcean</a></span>

            <ul id="social-menu">
                <li class="github"><a href="https://github.com/tryghost/Ghost"><span class="hidden">Github</span></a></li>
                <li class="twitter"><a href="https://twitter.com/tryghost"><span class="hidden">Twitter</span></a></li>
                <li class="gplus"><a href="https://plus.google.com/u/0/b/114465948129362706086/114465948129362706086/posts"><span class="hidden">Google+</span></a></li>
                <li class="facebook"><a href="https://www.facebook.com/ghost"><span class="hidden">Facebook</span></a></li>
            </ul>

        </nav>
        <div class="clearfix"></div>
    </footer>

    {{ghost_foot}}

    <script type="text/javascript">
        function replaceHeader (content) {
            $(document).ready(function() {
                $("#global-header > nav > .wrapper").replaceWith(content);
                $("#global-header > nav > .wrapper").fadeIn();
            });
        }
    </script>
    <script src="https://ghost.org/navigation/"></script>

    <script type="text/javascript" src="https://ghost.org/assets/application-f70a08abb1fd9fbfdd4ae25ddd2c3d6b.js"></script>
    <script type="text/javascript" src="{{asset "js/itch.js"}}"></script>

    {{! Twitter buttons }}
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    {{! Facebook buttons }}
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=596756540369391";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    {{! Google+ buttons }}
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
</body>
</html>
