<!DOCTYPE html>
<html>
  <head>
    <title>{{meta_title}}</title>
    {{> meta}}
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:700,400,200" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/bloggy.css"}}" />
    {{ghost_head}}
  </head>
  <body class="{{body_class}}">
    <div id="fb-root"></div>
    {{> widgets/subscribe-banner}}
    <header id="global-header" class="global-header navbar">
      {{navigation}}
    </header>
    <main role="main">
      <div class="page-wrapper">
        {{{body}}}
        <div class="clearfix"></div>
      </div>
    </main>
    <div class="modal fade" id="blogsubscribe" tabindex="-1" role="dialog" aria-labelledby="Email subscription modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <header class="modal-header">
          <h4 class="modal-title">The latest content, once per week.</h4>
          <a class="modal-close" data-dismiss="modal" aria-hidden="true" href="#"><span class="hidden">Close</span></a>
        </header>
        <div class="modal-body">
          <form action="{{! populated via code injection}}" method="post">
            <input id="fieldEmail" name="{{! populated via code injection}}" type="email" placeholder="Your email address" required />
            <button class="button-add wide" type="submit">Send me good stuff</button>
            <p><strong>Privacy policy:</strong> No spam. No jibber jabber. Unsubscribe any time.</p>
          </form>
        </div>
      </div>
    </div>
  </div>
    <div class="clearfix"></div>
    {{> footer}}
    {{ghost_foot}}
    <script type="text/javascript" src="{{asset "js/bloggy.js"}}"></script>
    {{> google-analytics}}
    {{!> share/default}}
  </body>
</html>
