{{!< default}}

<div class="wrap {{post_class}}">
  <section class="blog-content">

    <article>
      {{#post}}

        {{> post-header}}

        <a class="post-meta" href="{{@blog.url}}">&larr; Back to the front page</a>

        <h1 class="post-title">{{{title}}}</h1>

        <section class="post-meta">
          <img class="author-img" src="{{author.image}}" alt="Author image" nopin="nopin" />
          <span class="author-name">{{author}}</span>
          <span class="prefix-date">on the</span>
          <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="Do of MMMM YYYY"}}</time>
          <span class="tags">{{tags prefix="• " separator=" "}}</span>
        </section>

        {{> post-content}}

        <footer class="post-footer">

          {{!> share }}

          <section class="author">
            <img class="author-img" src="{{author.image}}" alt="Author image" nopin="nopin" />
            <div class="author-meta">
              <h4>{{author.name}}</h4>
              <p>{{{author.bio}}} <a href="{{author.website}}">{{author.website}}</a></p>
            </div>
          </section>

          <section class="read-next">
            {{#next_post}}
              <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
                <section class="post">
                  <h2>{{title}}</h2>
                  <p>{{excerpt words="19"}}&hellip;</p>
                </section>
              </a>
            {{/next_post}}
          </section>

          <a class="button-add large wide" data-toggle="modal" data-target="#blogsubscribe">Subscribe to Weekly Posts</a>

        </footer>

        <section class="comments">
          {{> comments}}
        </section>

      {{/post}}
    </article>

  </section>

  {{> sidebar}}

</div>
